/* ava's css */

body {
  font-family: 'Karla', sans-serif;
}

.avatar {
  margin-left: 300px;
  margin-top: 20px;
  margin-right: 300px;
  background-color: rgba(77, 159, 141, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  color: #EFEA5A;
}

.avatar img {
  margin: 1em;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: 10px 10px 5px #408677;
}

.media-content {
  margin-top: 15px;
  font-size: 20px;
}

ul {

    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 25px;
    margin-right: 50px;

}

.favorites li:before {
    content: "🍔";
}


a:hover {
    color: #EFEA5A;
}

.friends li::before{
    content: "❤️";
}

.favorites, .comments, .friends {
    text-align: center;
}


.post-title, #user, #birthdate, #gender {
  font-weight: bolder;
}

.post-title {
    font-size: 25px;
}

 a {
     text-decoration: none;
     color: #4a4a4a
 }


/* ipad pro */

@media screen and (max-width: 1024px) {
  .avatar {
    width: 100%;
    margin: auto;
  }
  .avatar img {
    margin: auto;
    width: auto;
    height: auto;
  }
}

/* iphone X */

@media screen and (max-width: 768px) {
  .avatar {
    width: 100%;
    margin: auto;
  }
  .avatar img {
    margin: auto;
    width: auto;
    height: auto;
  }
}

/* ava's css */

/* tess's css */

html {
  background-color: #EBEBEB;
}

.navbar {
  background-color: #4D9F8D;
}

/* tess's css */

/* search result page*/

.box {
  /* display: flex; */
  margin-left: 300px;
  margin-top: 20px;
  margin-right: 300px;
  background-color: rgba(77, 159, 141, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* flex-wrap: wrap; */
}

.card {
  display: flex;
  background-color: #EBEBEB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  /* flex-wrap: wrap; */
  /* padding-bottom: 10px; */
}

/* .content {
    color: #EFEA5A;
  } */

.title {
  color: rgba(77, 159, 141, 1)
}

/* .item-1 {
    background-image:public/assets/images/pouting-face-emoji-by-google.png ;
  } */

.container, .notification {
  display: flex;
  width: 100%;
  height: 350px;
  justify-content:center;
}

.searchBar {

}